body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #task-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #new-task {
    flex-grow: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  #task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #task-list li {
    background-color: #f4f4f4;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #task-list li .task-text{
      flex-grow: 1;
  }
  
  #task-list li .delete-btn{
      background-color: #ff0000;
      color: #fff;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
  }
  
  #task-list li .delete-btn:hover{
      background-color: #b30000;
  }
  
  #task-list li.completed {
    background-color: #ddd;
    text-decoration: line-through;
  }
  